# Tratando e limpando os dados do Dataset

In [1]:
import pandas as pd

In [2]:
#Carregando o dataset
df = pd.read_csv('data/imdb_top_1000.csv')

In [3]:
#Cabeçalho
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
#Formato do dataset
df.shape

(1000, 16)

In [5]:
#Removendo a coluna Poster_Link pois não é relevante ao estudo
new_df = df.drop('Poster_Link', axis='columns')

In [6]:
new_df.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [7]:
new_df.shape

(1000, 15)

In [8]:
#Verificando tipo de dados
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [9]:
#A coluna Released Year indica o ano de lançamento do filme, e portanto deveria ser uma variável numérica. Vamos verificar os valores
new_df['Released_Year'].value_counts()

2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
PG       1
Name: Released_Year, Length: 100, dtype: int64

In [10]:
#Encontramos uma linha com valor incorreto ("PG"), vamos remove-la
new_df = new_df[new_df.Released_Year != 'PG']

In [11]:
#Agora convertemos para int64
new_df['Released_Year'] = new_df['Released_Year'].astype('int64')

In [12]:
#Verificando se o tratamento surtiu efeito
new_df['Released_Year'].value_counts()

2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1930     1
1921     1
1936     1
1922     1
1943     1
Name: Released_Year, Length: 99, dtype: int64

In [13]:
new_df.shape

(999, 15)

In [14]:
#A coluna Runtime, que indica a duração do filme, está com a string "min". Vamos deixar apenas o valor numérico e converter para int64
new_df['Runtime'] = new_df['Runtime'].str.replace(' min', '').astype('int64')

In [15]:
new_df['Runtime'].head()

0    142
1    175
2    152
3    202
4     96
Name: Runtime, dtype: int64

In [16]:
#A coluna Gross indica a bilheteria do filme, e portanto deveria ser uma variável numérica. Vamos verificar os valores
new_df['Gross'].value_counts()

4,360,000      5
25,000,000     2
5,450,000      2
5,321,508      2
9,600,000      2
              ..
106,662        1
10,950         1
4,018,695      1
141,319,928    1
30,500,000     1
Name: Gross, Length: 822, dtype: int64

In [17]:
#Aparentemente a virgula está causando problemas, vamos removê-la e converter o tipo da coluna
new_df['Gross'] = new_df['Gross'].str.replace(',', '').astype('float64')

In [18]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   999 non-null    object
 1   Released_Year  999 non-null    int64
 2   Certificate    898 non-null    object
 3   Runtime        999 non-null    int64
 4   Genre          999 non-null    object
 5   IMDB_Rating    999 non-null    float64
 6   Overview       999 non-null    object
 7   Meta_score     842 non-null    float64
 8   Director       999 non-null    object
 9   Star1          999 non-null    object
 10  Star2          999 non-null    object
 11  Star3          999 non-null    object
 12  Star4          999 non-null    object
 13  No_of_Votes    999 non-null    int64
 14  Gross          830 non-null    float64
dtypes: float64(3), int64(3), object(9)
memory usage: 124.9+ KB

In [19]:
#Resumo estatístico
new_df.describe().round(1)

,Released_Year,Runtime,IMDB_Rating,Meta_score,No_of_Votes,Gross
count,999.0,999.0,999.0,842.0,999.0,830.0
mean,1991.2,122.9,7.9,78.0,273697.4,67907277.2
std,23.3,28.1,0.3,12.4,327536.6,109754644.4
min,1920.0,45.0,7.6,28.0,25088.0,1305.0
25%,1976.0,103.0,7.7,70.0,55471.5,3245338.5
50%,1999.0,119.0,7.9,79.0,138356.0,23457439.5
75%,2009.0,137.0,8.1,87.0,374477.5,80103240.8
max,2020.0,321.0,9.3,100.0,2343110.0,936662225.0

In [20]:
#Verificando Valores ausentes
new_df.isna().sum()

Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [21]:
#Calculando o total de valores ausentes por coluna
natotal = new_df.isna().sum()

#Calculando a porcentagem de valores ausentes por coluna
natotal_percent = 100 * natotal / len(new_df)

natotal_percent

Series_Title      0.000000
Released_Year     0.000000
Certificate      10.110110
Runtime           0.000000
Genre             0.000000
IMDB_Rating       0.000000
Overview          0.000000
Meta_score       15.715716
Director          0.000000
Star1             0.000000
Star2             0.000000
Star3             0.000000
Star4             0.000000
No_of_Votes       0.000000
Gross            16.916917
dtype: float64

In [22]:
# Calculando o número total de linhas com valores ausentes
linhas_na = sum([True for idx,row in new_df.iterrows() if any(row.isna())])

# Calculando o número total de linhas
total_linhas = df.shape[0]

# Calculando a porcentagem de linhas ausentes no dataset
print(round(((linhas_na/total_linhas) * 100), 2), "%", "das linhas no conjunto de dados contêm pelo menos um valor ausente.")

28.6 % das linhas no conjunto de dados contêm pelo menos um valor ausente.

In [23]:
#Como 28,6% das linhas apresentam valores ausentes, não podemos remover todas essas linhas.
#A coluna "Certificate" tem valores categoricos, vamos conferi-los:
new_df['Certificate'].value_counts()

U           233
A           197
UA          175
R           146
PG-13        43
PG           37
Passed       34
G            12
Approved     11
TV-PG         3
GP            2
TV-14         1
16            1
TV-MA         1
Unrated       1
U/A           1
Name: Certificate, dtype: int64

In [24]:
#Existe um registro com a categoria "Unrated" (sem certificação), vamos preencher os valores ausentes com esse valor
new_df['Certificate'].fillna('Unrated', inplace = True)

In [25]:
new_df['Certificate'].value_counts()

U           233
A           197
UA          175
R           146
Unrated     102
PG-13        43
PG           37
Passed       34
G            12
Approved     11
TV-PG         3
GP            2
TV-14         1
16            1
TV-MA         1
U/A           1
Name: Certificate, dtype: int64

In [26]:
#Vamos preencher os valores numéricos colunas restantes com a média aritmética das colunas
new_df = new_df.fillna(new_df.mean(numeric_only=True)).round(1)

In [27]:
#Conferindo se o tratamento foi executado corretamente
new_df.isna().sum()

Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [28]:
new_df.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [29]:
#Salvando o dataframe tratado como csv
new_df.to_csv('data/imdb_top_1000_v2.csv', index = False)